@font-face {
  font-family: "Fraunces 144pt";
  src: url("./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf");
}
@font-face {
  font-family: "Fraunces-Variable";
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/manrope/static/Manrope-Regular.ttf");
}
@font-face {
  font-family: "Manrope-Variable";
  src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}
.fg-white {
  color: #FFF;
}

.fg-davys-grey {
  color: #584D62;
}

.fg-dark-purple {
  color: #24053E;
}

.bg-dark-purple {
  background-color: #24053E;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FCF8FF;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: space-evenly;
  gap: 100px;
}

li {
  list-style-type: none;
}

.btn-primary {
  font-family: "Manrope";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  outline: none;
  color: #24053E;
  background-color: #44FFA1;
  padding: 13px 24.5px 16px 25.5px;
  border: none;
}
.btn-primary:hover {
  color: #44FFA1;
  background-color: transparent;
  padding: 11px 22.5px 14px 23.5px;
  border: 2px solid #44FFA1;
}

h1 {
  text-align: center;
  font-family: "Fraunces 144pt";
  font-style: normal;
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 3.125rem;
}

h2 {
  font-family: "Fraunces 144pt";
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
}

h3 {
  font-family: "Fraunces 144pt";
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  line-height: 1.75rem;
}

.elliptic-bottom {
  clip-path: ellipse(150% 100% at 50% 0%);
}

.underlined, .btn-secondary {
  border: none;
  text-decoration: underline #44FFA1 3px;
  text-underline-offset: 8px;
}

.btn-secondary {
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  color: #FFF;
  background-color: transparent;
}
.btn-secondary:hover {
  color: #44FFA1;
}

#home-header {
  position: relative;
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-y: visible;
  overflow-x: clip;
}

#banner {
  padding: 1rem 2rem 50% 2rem;
  width: 100%;
  display: grid;
  row-gap: 2.5rem;
  grid-template-areas: "logo applyForAccess" "tittle tittle" "learMore learMore";
}
#banner :nth-child(1) {
  grid-area: logo;
  justify-self: flex-start;
}
#banner :nth-child(2) {
  grid-area: applyForAccess;
  justify-self: flex-end;
}
#banner :nth-child(3) {
  grid-area: tittle;
  justify-self: stretch;
}
#banner :nth-child(4) {
  grid-area: learMore;
  justify-self: center;
}

#bg-pattern-1,
#bg-pattern-2,
#bg-pattern-3 {
  display: none;
  position: absolute;
  z-index: 1;
}

#hero {
  position: absolute;
  z-index: 1;
  width: 90vw;
  bottom: -15%;
  margin-left: 7%;
}

#description {
  margin: 0 1rem;
}

.counter-wrapper {
  counter-reset: i;
}

.counter-item {
  position: relative;
  margin-top: 4rem;
}
.counter-item::before {
  content: counter(i);
  counter-increment: i;
  display: inline-block;
  position: absolute;
  top: -2.5rem;
  left: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
  border: 1px solid #584D62;
  border-radius: 50%;
  font-size: 1.25rem;
  text-align: center;
  line-height: 2rem;
}

#biography {
  position: relative;
  padding: 70% 1rem 0 1rem;
}
#biography img {
  position: absolute;
}
#biography img[data-role=main] {
  z-index: -1;
  width: 70%;
  top: 4%;
  left: 15%;
}
#biography img[data-role=pattern] {
  display: none;
}
#biography button {
  margin-top: 2rem;
}

.box3 {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap: 1rem;
  padding: 2rem;
}

footer {
  margin-bottom: 2rem;
}

#logos {
  width: min-content;
  display: grid;
  grid-template: auto auto/1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 30px;
  place-items: center;
  place-content: center;
}
#logos :first-child {
  grid-column: span 3;
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  h1 {
    text-align: center;
    font-family: "Fraunces 144pt";
    font-weight: 600;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
  }
  h3 {
    text-align: justify;
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .elliptic-bottom {
    clip-path: ellipse(110% 100% at 50% 0%);
  }
  #banner {
    padding-bottom: 32%;
  }
  #hero {
    width: 72%;
    bottom: -30%;
  }
  #bg-pattern-1 {
    display: block;
    width: 34%;
    left: -22%;
    top: 27%;
  }
  #bg-pattern-2 {
    display: block;
    right: -10%;
    top: 30%;
  }
  #description {
    margin: 0 4rem 0 10rem;
  }
  .counter-item {
    margin-top: 3rem;
  }
  .counter-item::before {
    top: calc(50% - 0.5rem);
    left: -4rem;
  }
  .counter-item > *:first-child {
    margin-bottom: 1rem;
  }
  #biography {
    padding: 24% 2.5rem 18% 30%;
  }
  #biography img[data-role=main] {
    width: 34%;
    top: 7%;
    left: 5%;
  }
  #biography img[data-role=pattern] {
    display: block;
    width: 23%;
    top: 63%;
    left: 76%;
  }
  #biography button {
    margin-top: 0.5rem;
  }
  .box3 {
    place-items: start;
    text-align: left;
    padding: 3rem;
  }
  footer {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 769px) {
  .btn-primary {
    font-size: 1.125rem;
  }
  h2 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  p {
    font-size: 1.125rem;
    line-height: 2rem;
  }
  ul {
    margin: 0 3rem;
    display: flex;
    gap: 3rem;
  }
  .btn-secondary {
    font-size: 1.125rem;
  }
  .elliptic-bottom {
    clip-path: ellipse(110% 100% at 50% 0%);
  }
  #banner {
    padding-bottom: 32%;
  }
  #hero {
    width: 60%;
    bottom: -28%;
  }
  #bg-pattern-1 {
    display: block;
    left: -13%;
    top: 27%;
  }
  #bg-pattern-2 {
    display: block;
    left: 90%;
    top: 30%;
  }
  #biography {
    padding: 24% 5rem 18% 34%;
  }
  #biography img[data-role=main] {
    width: 30%;
    top: 13%;
    left: 8%;
  }
  #biography img[data-role=pattern] {
    display: block;
    width: 16%;
    top: 63%;
    left: 76%;
  }
  #biography button {
    margin-top: 0.5rem;
  }
  .box3 {
    place-items: start;
    text-align: left;
    padding: 4rem;
  }
  footer {
    margin-bottom: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
